@use './styles/vars' as *;

.root {
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  pointer-events: none;

  // On laisse pointer-events aux enfants
  > * {
    pointer-events: all;
  }
}
